# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment folders 
venv/
env/
.venv/

# VS Code settings (if you use VS Code)
.vscode/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Python package distribution folders
build/
dist/
*.egg-info/

# Logs and databases
*.log
*.sqlite3

# Streamlit cache and temp files
.streamlit/
